{% extends 'base.html' %}

<!-- Переопределение блока title для примера -->
{% block title %}
    Добавление новости :: {{ block.super }}
{% endblock %}

{% block sidebar %}
    {% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}

<h1>Добавление новости</h1>

<form action="{% url 'add_news' %}" method="post" enctype="multipart/form-data">
    <!-- Это вариант автоматического способа формирования формы и непосредственный рендериннг формы и её вывод на страницу -->
    <h2>Автоматическое формирование формы и непосредственный рендериннг формы и её вывод на страницу</h2>
    {% csrf_token %}
    {{ form.non_field.errors }}
    {{ form.as_p }} <!-- В этом случае "as_p" каждое поле формы будет обёрнуто в тег <p>. Есть ещё вариант с тегом <ul> и есть вариант отображение полей формы в виде таблицы <table> -->

    <button type="submit" class="btn btn-primary btn-block">Добавить новость</button>
</form>

{% endblock  %}
